version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:80"
    restart: unless-stopped
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
    # volumes:  # Descomente apenas para desenvolvimento local
    #   - .:/var/www/html
